
.DS_Store
.vs/ARWatch/xs/project-cache/Assembly-CSharp-Debug.json
.vs/ARWatch/xs/project-cache/Assembly-CSharp-Editor-Debug.json
.vs/ARWatch/xs/project-cache/Assembly-CSharp-firstpass-Debug.json
.vs/ARWatch/xs/UserPrefs.xml
.vsconfig
